
@{
    Layout = null;
}

<div class="navbar-nav ml-auto py-0 d-none d-lg-block">
    <a href="/Basket/Index/" class="btn px-0 ml-3">
        <i class="fas fa-shopping-cart fa-2x text-primary"></i>
        <span id="basketCount" class="badge text-secondary border border-secondary rounded-circle" style="padding-bottom: 2px;font-size: 20px;">@ViewBag.basketCount</span>
    </a>
</div>
